In [ ]:

import pandas as pd
from mosdac_utils import fetch_satellite_data, process_satellite_sensors_data

In [27]:
payload = {
    "current": "I",
    "dstype": "I"
}

In [28]:

data = fetch_satellite_data(payload)

Sending request...
Status Code: 200
Data received.

In [29]:
data

[[{'name': 'In-situ', 'id': '9999'}],
 [{'name': 'AMS', 'id': '8'},
  {'name': 'AWS', 'id': '2'},
  {'name': 'AWSAGRI', 'id': '4'},
  {'name': 'AWSUPG', 'id': '21'},
  {'name': 'IMDAWS', 'id': '10'}]]

In [ ]:

for i in data[0]:
    satellite_name = i["name"]
    satellite_id = i["id"]

df = process_satellite_sensors_data(satellite_name, satellite_id, data=data[1])

In [35]:
df

  satellite_name satellite_id sensor_name sensor_id
0        In-situ         9999         AMS         8
1        In-situ         9999         AWS         2
2        In-situ         9999     AWSAGRI         4
3        In-situ         9999      AWSUPG        21
4        In-situ         9999      IMDAWS        10

In [36]:
df.to_csv(r"C:\Users\WELCOME\Desktop\mosdac\raw_data\insitu_data.csv", index=False)