In [ ]:


import pandas as pd
from mosdac_utils import fetch_satellite_data ,process_satellite_data

c:\Users\WELCOME\miniconda3\envs\mosdac\Lib\site-packages\requests\__init__.py:86: RequestsDependencyWarning: Unable to find acceptable character detection dependency (chardet or charset_normalizer).
  warnings.warn(

In [2]:

payload = {
    "current":"A",
    "dstype":"S"
    }

## Getting the data

In [3]:
data = fetch_satellite_data(payload=payload)

Sending request...
Status Code: 200
Data received.

In [4]:
data

[[{'name': 'EOS-06', 'id': '22'},
  {'name': 'INSAT-3DR', 'id': '14'},
  {'name': 'INSAT-3DS', 'id': '24'},
  {'name': 'MSG', 'id': '32'},
  {'name': 'SARAL', 'id': '12'},
  {'name': 'EOS-07', 'id': '23'},
  {'name': 'INSAT-3A', 'id': '3'},
  {'name': 'INSAT-3D', 'id': '13'},
  {'name': 'KALPANA-1', 'id': '1'},
  {'name': 'MEGHATROPIQUES', 'id': '11'},
  {'name': 'OCEANSAT-2', 'id': '9'},
  {'name': 'SCATSAT-1', 'id': '15'}],
 [{'name': 'OCM', 'id': '16'}, {'name': 'SCATTEROMETER', 'id': '4'}]]

## processing data

In [ ]:

flattend_data = [item for sublist in data for item in sublist]
df = pd.DataFrame(flattend_data)

In [6]:
df

              name  id
0           EOS-06  22
1        INSAT-3DR  14
2        INSAT-3DS  24
3              MSG  32
4            SARAL  12
5           EOS-07  23
6         INSAT-3A   3
7         INSAT-3D  13
8        KALPANA-1   1
9   MEGHATROPIQUES  11
10      OCEANSAT-2   9
11       SCATSAT-1  15
12             OCM  16
13   SCATTEROMETER   4

## Saving df to a csv file

In [8]:
df.to_csv(r"C:\Users\WELCOME\Desktop\mosdac\raw_data\satellite_ids.csv", index=False)